#
# HIRESCOLDENS: CONFIGURATION PARAMETERS FOR HIRESCOLDENS
#
# PM  WAVE  BEAM  OFFSET        IMAGE               [MASKIMAGE]  { +/-, microns, arcsecs, MJy/sr, filenames }
#
  -   070   8.4     0.0   ../aquilaM2-070.image.resamp.zoom2.bor.fits       ../aquilaM2-070.image.resamp.zoom2.bor.omask.fits
  +   160  13.5     0.0   ../aquilaM2-160.image.resamp.zoom2+159p9.bor.fits ../aquilaM2-160.image.resamp.zoom2+159p9.bor.omask.fits
  +   250  18.2     0.0   ../aquilaM2-250.image.resamp.zoom2+169p7.bor.fits ../aquilaM2-250.image.resamp.zoom2+169p7.bor.omask.fits
  +   350  24.9     0.0   ../aquilaM2-350.image.resamp.zoom2+93p0.bor.fits  ../aquilaM2-350.image.resamp.zoom2+93p0.bor.omask.fits
  +   500  36.3     0.0   ../aquilaM2-500.image.resamp.zoom2+37p0.bor.fits  ../aquilaM2-500.image.resamp.zoom2+37p0.bor.omask.fits
