#
# HIRES: CONFIGURATION PARAMETERS FOR HIRES
#
# PM  WAVE  BEAM  OFFSET   IMAGE   [MASKIMAGE]
#
  -   070   8.4   0.0   ../simsky2.w20.070.r8p4.cores1.fits
  -   100   9.4   0.0   ../simsky2.w20.100.r9p4.cores1.fits
  +   160  13.5   0.0   ../simsky2.w20.160.r13p5.cores1.fits
  +   250  18.2   0.0   ../simsky2.w20.250.r18p2.cores1.fits
  +   350  24.9   0.0   ../simsky2.w20.350.r24p9.cores1.fits
  +   500  36.3   0.0   ../simsky2.w20.500.r36p3.cores1.fits
