#
# HIRES: CONFIGURATION PARAMETERS FOR HIRES
#
# PM  WAVE  BEAM  OFFSET   IMAGE   [MASKIMAGE]
#
  -   070   8.4   0.0   ../simsky4.w40.070.r8p4.cores.fits
  -   100   9.4   0.0   ../simsky4.w40.100.r9p4.cores.fits
  +   160  13.5   0.0   ../simsky4.w40.160.r13p5.cores.fits
  +   250  18.2   0.0   ../simsky4.w40.250.r18p2.cores.fits
  +   350  24.9   0.0   ../simsky4.w40.350.r24p9.cores.fits
  +   500  36.3   0.0   ../simsky4.w40.500.r36p3.cores.fits
